
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">
                    Şubelerimiz
                    <span class="tools pull-right">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        
                        Çalışma saatleri
                        Haftaiçi ve cumartesi saat :10.00 - 22.30
                    </span>
                </header>
                <div class="panel-body">
                    <div> <iframe src="https://www.google.com/maps/d/embed?mid=10zUAkSET4jISVPZcQ7dq-pycjAi5d9Su" width="640" height="480"></iframe></div>
                </div>
            </section>
        </div>

    </div>




    <!-- page end-->
</section>

