@model AppUserVM
@{
    ViewBag.Title = "ResPasswordMailSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewBag.info
@using (Html.BeginForm("ResPasswordMailSend", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

@Html.TextBoxFor(x => x.AppUser.Email, new { @placeholder = "Email adresinizi giriniz", @class = "login__input" })
@Html.ValidationMessageFor(x=>x.AppUser.Email)

<div class="login__control topPersonal">
    <button type='submit' class="btn btn-md btn--warning btn--wider">Şifremi Sıfırla</button>
</div>
}

